---
import Home from "../components/Home.astro";

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Porfolio</title>
	</head>
	<body class="w-full h-screen flex justify-center items-center bg-indigo-200 bg-opacity-[0.60]">
		<main class="w-10/12 max-sm:min-w-full max-h-full">
			<Home/>
		</main>
	</body>
</html>

