---
---


<footer class="w-full h-[300px] grid place-content-center max-md:justify-start bg-yellow-500">
    <div class="w-[768px] max-md:w-full text-slate-500 text-lg flex flex-row items-center justify-start gap-3 text-left p-4">
        <div class="border-r-2 border-slate-500 flex flex-col gap-3 p-4">
            <span>Echo con mucho amor</span>
            <span>Michael Nicolas Galeano</span>
            <a href="#home" class="hover:text-white">Contactar</a>
        </div>
    </div>
</footer>