---

---

<header class="w-full h-12 grid place-content-center">
    <nav class="w-10/12">
        <ul class="w-full h-full flex flex-row items-center">
            <li><a class="hover-menu p-2 hover:rounded-sm bg-yellow-50 hover:bg-yellow-200 active:bg-yellow-200" href="/">Inicio</a></li>
            <li><a class="hover-menu p-2 hover:rounded-sm bg-yellow-50 hover:bg-yellow-200 active:bg-yellow-200" href="#experience">Experiencia</a></li>
            <li><a class="hover-menu p-2 hover:rounded-sm bg-yellow-50 hover:bg-yellow-200 active:bg-yellow-200" href="#proyec">Proyectos</a></li>
            <li><a class="hover-menu p-2 hover:rounded-sm bg-yellow-50 hover:bg-yellow-200 active:bg-yellow-200" href="#about">Sobre</a></li>
            <li><a class="hover-menu p-2 hover:rounded-sm bg-yellow-50 hover:bg-yellow-200 active:bg-yellow-200" href="/">Contacto</a></li>
        </ul>
    </nav>
</header>
