---
const menu = [
    {
        item : 'Inicio',
        href : '#home'
    },
    {
        item : 'Experiencia',
        href : '#experience'
    },
    {
        item : 'Proyectos',
        href : '/'
    },
    {
        item : 'Sobre',
        href : '#about'
    }
]
---

<header class="w-full h-16 grid place-content-center fixed z-10 bg-yellow-500">
    <nav class="w-[768px] max-md:w-screen h-full bg-transparent overflow-hidden">
        <div class="py-4 lg:px-8 px-4 max-w-[1280px] h-16 m-auto text-white flex items-center justify-between">
            <div>
                <h1 class="lg:text-2xl text-xl uppercase tracking-wider cursor-pointer font-bold">MAIKIDEV</h1>
            </div>
            <div class="flex lg:gap-8 gap-6 uppercase tracking-wider cursor-pointer text-lg items-center" id="navItems">
                {
                    menu.map(items => 
                    <span class="group">
                        <a href={items.href}>{items.item}</a>
                        <div class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"></div>
                    </span>
                    )
                }
            </div>
            <div id="hamburger" class="fa fa-bars flex items-center text-xl" style="display:none;"></div>
            <div id="mobileNav"
                class="fixed flex flex-col gap-8 pt-16 px-4 text-xl uppercase bg-yellow-300 h-full inset-0 top-16 w-[70%] left-[-70%] ease-in-out duration-500 cursor-pointer">
                {
                    menu.map(items => 
                    <span><a href={items.href}>{items.item}</a></span>
                    )
                }
            </div>
        </div>
    </nav>
</header>

<script>
    let navItems = document.getElementById("navItems");
    let mobileNav = document.getElementById("mobileNav");
    let hamburger = document.getElementById("hamburger");

    
    function responseMenu () {

        let screenWidth = window.innerWidth;


        function toggleNavbar (event: any) {
             
            screenWidth = window.innerWidth;

            if (hamburger && mobileNav && event.target === hamburger) {
                mobileNav.classList.toggle("left-[-70%]");
                hamburger.classList.toggle("fa-bars");
                hamburger.classList.toggle("fa-close");
                if ( screenWidth > 720 ) {
                mobileNav?.classList.add("left-[-100%]");
                } else {
                    mobileNav?.classList.remove("left-[-100%]");

                }
            } else {
                mobileNav?.classList.add("left-[-70%]");
                
            }
        }

        function adjustNavbar() {

            screenWidth = window.innerWidth;


            if (screenWidth < 720) {
                if (navItems) navItems.style.display = 'none';
                if (hamburger) hamburger.style.display = 'flex';
            }
            else {
                mobileNav?.classList.remove("left-[-70%]");
                mobileNav?.classList.add("left-[-100%]");
                if (navItems) navItems.style.display = "flex";
                if (hamburger) hamburger.style.display = 'none';
            }

        }
            

        adjustNavbar();

        window.addEventListener("resize", adjustNavbar);

        document.addEventListener("click", (event) => toggleNavbar(event))
    };

    document.addEventListener('DOMContentLoaded', responseMenu);
</script>
