---
---

<section class="w-full h-full flex flex-row max-sm:flex-col gap-5 justify-center items-center bg-transparent">
    <div class="w-full h-48 grid place-content-center text-wrap">
        <span class="text-sm font-medium text-blue-900">Hola, bienvenidos</span>
        <h1 class="text-3xl max-md:text-xl font-bold text-fuchsia-950">Mi nombre, es Michael</h1>
        <h2 class="text-3xl max-md:text-xl font-bold text-fuchsia-950">Soy programador</h2>
        <div class="w-full pt-3">
            <ul class="w-full flex flex-row gap-1">
                <li class="w-12 h-12"><a class="w-full h-full" href="https://github.com/mikygaleano" target="_blank"><img class="w-12 h-12 object-fill rounded-full hover:shadow-md" src="./github.svg" alt=""></a></li>
                <li class="w-12 h-12"><a class="w-full h-full" href="https://linkedin.com/in/michaelgaleano" target="_blank"><img class="w-12 h- object-fill rounded-full hover:shadow-md" src="./linkedin.svg" alt=""></a></li>
                <li class="w-12 h-12"><a class="w-full h-full" href="https://twitter.com/maikiidev" target="_blank"><img class="w-12 h-12 object-fill rounded-full hover:shadow-md" src="./twitter.svg" alt=""></a></li>
                <li class="w-12 h-12"><a class="w-full h-full" href="https://instagram.com/maikidev" target="_blank"><img class="w-12 h-12 object-fill rounded-full hover:shadow-md" src="./instagram.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
    <button class="absolute bottom-5">↓</button>
    <div class="w-full h-48 grid place-content-center gap-2">
        <figure class="w-48 h-48 rounded-full m-auto">
            <img class="object-cover w-full h-full rounded-full bg-blue-400" src="./mi-avatar.jpg" alt="avatar">
        </figure>
        <button class="w-28 h-12 p-1 shadow-md hover:shadow-fuchsia-600 rounded-md bg-fuchsia-950 m-auto text-white hover:font-bold">descargar cv</button>
    </div>
</section>
