---
---

<section class="w-full h-full flex flex-row max-sm:flex-col justify-center items-center bg-transparent">
    <div class="w-full grid place-content-center text-wrap m-auto">
        <span class="text-xl font-medium text-blue-900">¡Hola, bienvenidos!</span>
        <h1 class="text-3xl max-md:text-xl font-bold text-fuchsia-950">Mi nombre es Michael</h1>
        <h2 class="text-3xl max-md:text-xl font-bold text-fuchsia-950">Soy <span class="typeMachine text-yellow-500 font-extrabold"></span><strong class="animate-pulse">|</strong></h2>
        <div class="w-full pt-3">
            <ul class="w-full flex flex-row gap-1">
                <li class="w-12 h-12"><a class="w-full h-full" href="https://github.com/mikygaleano" target="_blank"><img class="w-12 h-12 object-fill rounded-full hover:shadow-md" src="./github.svg" alt=""></a></li>
                <li class="w-12 h-12"><a class="w-full h-full" href="https://linkedin.com/in/michaelgaleano" target="_blank"><img class="w-12 h- object-fill rounded-full hover:shadow-md" src="./linkedin.svg" alt=""></a></li>
                <li class="w-12 h-12"><a class="w-full h-full" href="https://twitter.com/maikiidev" target="_blank"><img class="w-12 h-12 object-fill rounded-full hover:shadow-md" src="./twitter.svg" alt=""></a></li>
                <li class="w-12 h-12"><a class="w-full h-full" href="https://instagram.com/maikidev" target="_blank"><img class="w-12 h-12 object-fill rounded-full hover:shadow-md" src="./instagram.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="w-full h-48 flex flex-col justify-center items-center gap-2 m-auto max-sm:-mt-28">
        <figure class="w-48 h-48 rounded-full m-auto">
            <img class="object-cover w-full h-full rounded-full bg-blue-400" src="./mi-avatar.jpg" alt="avatar">
        </figure>
        <button class="download aw-28 h-12 p-1 shadow-md hover:shadow-fuchsia-600 rounded-md bg-fuchsia-950 m-auto text-white hover:font-bold">descargar cv</button>
    </div>
</section>

<script>

    const cv = './cv.pdf'

    const text: string[] = ['programador', 'Ing. informatico']

    let index:number = 0


    // function para typear
    const  useWriteTypeMachine = async (text: string[])=> {

        const element = document.querySelector('.typeMachine');

        // delay espera (ms) para resolver
        const delay: Promise<unknown> = (ms: number) => new Promise((resolve) => setTimeout(resolve, ms));

        let txt = text[index];

        // escribir
        for (let i = 0; i <= txt.length; i++) {
            element.innerHTML = txt.slice(0, i);
            await delay(150);
        }

         await delay(500); // Esperar antes de borrar

        // borrar
        for (let i = txt.length; i >= 0; i--) {
            element.innerHTML = txt.slice(0, i);
            await delay(150);
        }

        await delay(500); // esperar antes de aumentar el index
        index += 1; // aumentar el index

        // condicion para volver a cero el index
        if (index === text.length) {
          index = 0;
          await delay(200)
        }

        // recursividad
        return useWriteTypeMachine(text);
    };

    // descargar cv
    const handleDownload = () => {
        const downloadInstance = document.createElement('a');
        downloadInstance.href = cv;
        downloadInstance.target = '_blank';
    
        document.body.appendChild(downloadInstance);

        downloadInstance.click();
    
        document.body.removeChild(downloadInstance);
      };

    // evento clic para descargar el cv
    document.querySelector('.download')?.addEventListener('click', handleDownload);

    // Espera a que el DOM esté completamente cargado
    document.addEventListener('DOMContentLoaded', () => {
        useWriteTypeMachine(text);
    });
</script>
