---
---

<section class="pt-5 w-full min-h-[500px] max-md:h-full grid justify-center items-start" id="about">
    <h2 class="text-center font-semibold text-3xl">Sobre mí</h2>
    <article class="w-[32rem] max-sm:w-full h-fit flex flex-row max-sm:flex-col justify-center items-center relative rounded-lg shadow-xl p-2">
            <p class="p-3 text-wrap text-sm text-[65ch] font-semibold text-fuchsia-950">
                Estoy en el segundo año de la carrera ing. en informatica en la Universidad Nacional de Avellaneda (UNDAV).
                Estoy constantemente buscando oportunidades para expandir mis conocimientos y habilidades, ya sea a través de proyectos personales, colaboraciones en equipo o experiencias educativas.
                Estoy emocionado por lo que el futuro me depara en este apasionante campo y estoy listo para enfrentar nuevos desafíos y oportunidades de crecimiento. ¡Gracias por visitar mi portafolio y por permitirme compartir un poco sobre mí!
            </p>
        <img class="size-28 max-md:size-16 rounded-full absolute -right-20 max-sm:right-[40%] -top-20" src="./avatar.jpg" alt="avatar">
    </article>
</section>