@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600;800&display=swap');

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(30, 30, 30);
}

.conteinerPrincipal {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    padding: 2rem;
}

.card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardImg {
    width: 15rem;
    height: 15rem;
    background-color: gold;
    background-image: url('public/image/perfil.png');
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.info{
    color: rgb(255, 254, 254);
    font-family: 'Sono', sans-serif;
    text-align: center;
    align-self: center;
    margin: auto;
}


.saludo {
    align-self: center;
    font-family: 'Sono', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    z-index: 1;
}

.saludo button{
    width: fit-content;
    align-self: center;
    border: none;
    border-radius: 20px;
    background-color: goldenrod;
    color: white;
    font-weight: bold;
}

@media (max-width: 540px) {
    
    .saludo {
        position: relative;
        bottom: 10rem;
    }
    
    .card {
        position: absolute;
    }
    
}
@media (max-width: 281px) {
    .saludo {
        text-align: center;
    }
    
}